.forum {
  background-color: #e7dfd7;
}

.community-page {
  background-color: #f7f2ee8c;
  min-height: 100vh;
  width: 75%;
  margin: auto;
  padding: 4rem;
}

.forum-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5rem;
  padding-top: 5rem;
}

.heading-message {
  width: 60%;

  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  p {
    padding-top: 2rem;
    font-size: 1.7rem;
    line-height: 3rem;
  }
}

.forum-heading button {
  width: 150px;
  padding: 1.5rem;
  color: #f2e2d7;
  background-color: #830707;
  border: none;
  cursor: pointer;
  color: #f2e2d7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  font-size: 1.4rem;
}

.write-post {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  textarea {
    width: 50%;
    resize: none;
    padding: 1rem;
    outline: none;
    font-size: 1.4rem;

    &:focus {
      border-color: #830707;
    }
  }

  button {
    padding: 1rem 3rem 1rem 3rem;
    color: #f2e2d7;
    background-color: #830707;
    border: none;
    border-radius: 30px;
    height: 3.5rem;
    width: 14rem;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    cursor: pointer;
    color: #f2e2d7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-size: 1.4rem;
  }
}

.forum-heading button,
.write-post button {
  &:hover {
    background-color: #b31b1b;
    color: rgb(175, 169, 169);
  }
}

.create-post-btn p {
  color: #830707;
  font-size: 1.1rem;
  margin-top: 1rem;
}

.create-post-btn button span {
  margin-right: 4px;
}

.forum-posts {
  background-color: #e7dfd7;
  margin: 2rem;
  padding: 2rem;
}

.post-info {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: baseline;

  h3 {
    font-size: 1.4rem;
    margin-top: 1.2rem;
  }
}

.post-content {
  margin-left: 5rem;
  font-size: 1.3rem;
}

.forum-posts a {
  text-decoration: none;
  overflow-wrap: break-word;
}

.post-info img {
  width: 40px;
  border-radius: 50%;
}

.comment-info img {
  width: 30px;
  border-radius: 50%;
}

.view-comments {
  margin-left: 5rem;
  background-color: #830707;
  border: none;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #f2e2d7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.comment-lists {
  padding-top: 3rem;
  margin-left: 5rem;
}

.comment-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.comment-content {
  margin-left: 4rem;
  font-size: 1.3rem;
}

.write-comment {
  display: flex;
  gap: 2rem;
  padding-top: 2rem;

  textarea {
    resize: none;
    outline: none;
    padding-left: 5px;

    &:focus {
      border-color: #830707;
    }
  }

  button {
    background-color: #706f6f;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: white;

    &:hover {
      background-color: rgb(199, 195, 195);
      color: black;
    }
  }
}

.date-commented {
  margin-left: 4rem;
  font-size: 0.8rem;
}

@media (max-width: 800px) {
  .community-page {
    width: 100%;
    padding: 0;
  }

  .forum-heading {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .heading-message {
    width: 100%;
    padding: 0 2rem;
  }

  .posts-section {
    padding: 0 1.2rem;
  }
}
