@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gafata&family=Varta:wght@300..700&display=swap");

.artistListCard {
  box-shadow: 0 4px 15px rgba(237, 12, 12, 0.2);
  cursor: "pointer";
}

.artistListCard:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

.artist-hero-image {
  background-image: url("../../assets/hero2.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  color: white;
  text-align: center;

  h1 {
    font-family: "Abril Fatface", serif;
    font-size: 5em;
  }
  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.8rem;
    margin-top: 1.6rem;
  }
}

.artist-list {
  background-color: #f1eae3;
}

.search-bar-heading {
  font-family: "Abril Fatface", serif;
  font-size: 4em;
}

.search-bar input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
  background: rgba(255, 255, 255, 0.321);
  border: none;
  max-width: 350px;
  margin-top: 3.2rem;
}

.search-bar input::placeholder {
  color: white;
  font-weight: 500;
}

.search-bar input:hover {
  border: 2px solid rgba(248, 164, 164, 0.703);
  background-color: #b8b7b66d;
}
.search-bar {
  text-align: center;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

@media (max-width: 480px) {
  .cardArtistList {
    width: 95%;
  }

  #artist-card {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .search-bar input::placeholder {
    font-size: 1.6rem;
  }
}

/* LOADER */

.loader2 {
  width: 120px;
  height: 20px;
  margin: auto;
  background: radial-gradient(circle closest-side, #830707 94%, #0000) 50% 50% /
    calc(50% + 10px) 70% repeat-x #ccc;
  animation: l9 1s infinite cubic-bezier(0.3, 1, 0, 1);
}
@keyframes l9 {
  100% {
    background-position: calc(200% - 5px);
  }
}
