/* Skin Care */

@keyframes typewriter {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.skin-care-blog {
  background-color: #e1d6cc;
  height: 100%;
}

.skin-care-logo-container {
  display: flex;
  justify-content: space-between;
  height: 130px;
}

.nav-skin-care {
  display: flex;
  align-items: center;
}

.back-to-homepage {
  text-decoration: none;
  color: rgb(41, 40, 40);
  font-weight: 700;

  &:hover {
    color: rgb(134, 119, 119);
  }
}

.home-logo {
  position: relative;
  top: 2px;
}

.skin-care-logo {
  width: 170px;
}

.blog-skin-container {
  width: 60%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin: auto;
  background-color: #f5ebe298;
  line-height: 1.5em;
}

.skin-care-header {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
}

.header h2 {
  padding-left: 1em;
  margin: auto;
  line-height: 1.8em;
  font-size: clamp(1.6rem, 1.4vw, 2.5rem);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 4s steps(75);
}

.header img {
  object-fit: cover;
  max-width: 40%;
  height: auto;
}

.back-icon {
  margin: 1.5em 0;
  font-size: clamp(0.8em, 3vw, 0.8em);
}

.back-icon:hover {
  color: rgb(134, 119, 119);
}

.update-skin-care {
  text-align: justify;
  font-size: clamp(0.7em, 3vw, 0.9em);
  margin-top: 3em;

  span {
    font-weight: 100;
    font-style: italic;
  }
}

.article {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.article h3 {
  margin-top: 1em;
}

.article p {
  text-align: justify;
  padding-top: 0.4em;
  margin-bottom: 1em;
}

.article ul li {
  margin: 10px;
  line-height: 1.8em;
  margin-left: 2.5em;
  font-size: clamp(0.7em, 3vw, 0.9em);
  padding-bottom: 1em;
}

.sec-3-guide {
  display: flex;
  gap: 30px;
}

.sec-3-guide ul {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.youtube-skin-care {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

iframe {
  aspect-ratio: 16/9;
}
.source {
  padding-top: 0.5em;
  font-style: italic;
  font-size: 12px;
}

.youtube-source {
  text-decoration: none;
  color: black;
  text-decoration: underline;
}

.section-6 {
  margin-bottom: 2em;
}

.sec-6-conclusion {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 1em;

  span {
    font-size: 1.5em;
    font-weight: 800;
    color: rgb(75, 74, 74);
    margin-right: 2em;

    &:hover {
      color: black;
    }
  }
}

.cube {
  max-width: 600px;
  margin: auto;
}

.skin-care-img {
  width: 100%;
  max-height: 500px;
}

.footer-skin-care {
  padding: 1em;
  border-top: 1px solid rgba(128, 128, 128, 0.438);
  margin-top: 5em;
}

@media (max-width: 768px) {
  .skin-care-logo-container {
    margin: 0 5%;
  }

  .blog-skin-container {
    width: 100%;
  }
  .header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em;
  }

  .header h2 {
    font-size: 1.7rem;
  }

  .header img {
    margin: auto;
  }

  .back-icon,
  .update-skin-care {
    margin-left: 10px;
  }

  .article {
    margin: 0 5%;
  }

  .sec-3-guide {
    display: flex;
    flex-direction: column;
  }

  .youtube-skin-care {
    margin: auto;
  }

  .sec-6-conclusion span {
    margin-right: 0;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  .blog-skin-container {
    width: 80%;
  }
}
