/* Skin Care */

@keyframes typewriter {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.skin-care-blog {
  background-color: #e1d6cc;
  height: 100%;
}

.skin-care-logo-container {
  display: flex;
  height: 130px;
  position: sticky;
  top: 0;
  background-color: #e1d6cc;
  z-index: 999;
  box-shadow: 0px 4px 2px -3px rgba(151, 149, 149, 0.445);
}

.nav-skin-care {
  display: flex;
  align-items: center;
}

.home-logo {
  position: relative;
  top: 1px;
}

.skin-care-logo {
  width: 170px;
}

.blog-skin-container {
  width: 60%;
  margin: auto;
}

.skin-care-header {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin: auto;
  background-color: #f5ebe298;
  line-height: 1.5em;
}

.skin-care-header h2 {
  padding-left: 1em;
  margin: auto;
  line-height: 1.8em;
  font-size: clamp(1.4rem, 3.5vw, 2rem);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 4s steps(75);
  color: #45342d;
}

.skin-care-header img {
  object-fit: cover;
  max-width: 40%;
  height: auto;
}

.update-skin-care {
  text-align: justify;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  margin-top: 3em;
  margin-bottom: 1em;
  color: #45342d;
}

.update-skin-care span {
  font-weight: 100;
  font-style: italic;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.article h3 {
  margin-top: 1em;
  font-size: clamp(1rem, 3.5vw, 1.8rem);
  color: #45342d;
}

.article p {
  text-align: justify;
  padding-top: 1.5em;
  margin-bottom: 1em;
  font-size: clamp(0.8rem, 3.5vw, 1.5rem);
  line-height: 1.8em;
  color: #45342d;
  font-family: "Lato", serif;
}

.article ul li {
  line-height: 1.8em;
  margin-left: 1.5em;
  font-size: clamp(0.8em, 3vw, 0.8em);
  padding-bottom: 1em;
}

.sec-3-guide {
  display: flex;
  gap: 30px;
}

.sec-3-guide ul {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.youtube-skin-care {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

iframe {
  aspect-ratio: 16/9;
}
.source {
  padding-top: 0.5em;
  font-style: italic;
  font-size: 12px;
}

.youtube-source {
  text-decoration: none;
  color: black;
  text-decoration: underline;
}

.section-6 {
  margin-bottom: 2em;
}

.sec-6-conclusion {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 1em;

  span {
    font-size: 3rem;
    font-weight: 800;
    color: rgb(75, 74, 74);
    margin-right: 2em;
    cursor: pointer;
    
    &:hover {
      color: black;
    }
  }
}

.cube {
  max-width: 600px;
  margin: auto;
}

.skin-care-img {
  width: 100%;
  max-height: 500px;
}

.footer-skin-care {
  padding: 1em;
  border-top: 1px solid rgba(128, 128, 128, 0.438);
  margin-top: 5em;
  text-align: center;
  font-size: 12px;
  color: #45342d;
}

@media (max-width: 768px) {
  .skin-care-logo-container {
    padding: 0 5%;
  }

  .blog-skin-container {
    width: 100%;
  }
  .skin-care-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em;
  }

  .skin-care-header img {
    margin: auto;
  }

  .back-icon {
    margin-left: 10px;
  }

  .article,
  .update-skin-care {
    margin: 0 5%;
  }

  .article ul li {
    margin-left: 1em;
  }

  .sec-3-guide {
    display: flex;
    flex-direction: column;
  }

  .youtube-skin-care {
    margin: auto;
  }

  .sec-6-conclusion span {
    margin-right: 0;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  .blog-skin-container {
    width: 80%;
  }

  .skin-care-header h2 {
    font-size: 1.6rem;
  }
}
