/* Skin Care */

@keyframes typewriter {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.skin-care-blog {
  background-color: #e1d6cc;
  height: 100%;
}

.blog-skin-container {
  width: 60%;
  margin: auto;
  padding-top: 3em;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin: auto;
  background-color: #f5ebe298;
}

.header h2 {
  padding-left: 1em;
  margin: auto;
  line-height: 1.8em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 4s steps(75);
}
.header img {
  object-fit: cover;
  max-width: 350px;
  height: auto;
}

.back-icon {
  margin: 1.5em 0;
}

.article h3 {
  margin-top: 3em;
}

.article p {
  text-align: justify;
  padding-top: 0.4em;
  margin-bottom: 1em;
}

.article ul li {
  margin: 10px;
  line-height: 1.5em;
  margin-left: 2.5em;
  font-size: 0.9em;
}
