@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gafata&family=Varta:wght@300..700&display=swap");

.navbar-container {
  background-color: #d4c6bd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  position: sticky;
  top: 0px;
  box-shadow: 0px 8px 27px -9px #00000091;
  z-index: 1000;

  .logo-container {
    a {
      text-decoration: none;
      color: rgb(7, 7, 7);
      font-family: "Abril Fatface", serif;
      font-size: 4rem;
      font-weight: 100;
    }
  }
}

.nav-icon,
.nav-header-dropdown {
  display: none;
}

.nav-links {
  width: 45%;
  display: flex;
  justify-content: space-around;
}

.nav-links a {
  font-size: 1.9rem;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #45342d;

  &:hover {
    color: #45342da1;
  }
}

.nav-account {
  position: relative;
  border-radius: 50%;
  height: 50px;
  object-fit: cover;
}

.nav-account img {
  height: 50px;
  border-radius: 50%;
  margin-left: 2rem;
}

.camera-icon {
  position: absolute;
  font-size: 1.6rem;
  top: 40px;
  right: 1px;
  color: rgb(105, 103, 103);
}

.button-container .nav-button {
  color: #f2e2d7;
  background-color: #830707;
  border: none;
  border-radius: 30px;
  height: 3.5rem;
  width: 14rem;
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  font-size: 1.4rem;

  &:visited {
    color: #f2e2d7;
  }

  &:hover {
    background-color: #b31b1b;
  }
}

.nav-account {
  position: relative;
}

.nav-profile-path {
  display: none;
}

.nav-profile-path.open-profile-dropdown {
  display: block;
}

.open-profile-dropdown {
  background-color: #d4c6bd;
  position: absolute;
  top: 105px;
  width: 450px;
  max-height: 60vh;
  right: 0px;
  border-radius: 10px;
  box-shadow: -1px 1px 4px rgba(116, 114, 114, 0.637);
  animation: profile-nav ease forwards 0.3s;
}

.account-dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5rem 0;
  gap: 3rem;
}

.nav-button-logout,
.customer-name,
.chat-link,
.nav-profile-links {
  text-decoration: none;
  font-size: 1.9rem;
  color: #45342d;
  padding-left: 1rem;
  margin: 0 15%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chat-link,
.nav-profile-links,
.nav-button-logout {
  &:hover {
    color: #45342da1;
  }
}

.customer-name {
  padding: 2.5rem 0;
}

.nav-button-logout {
  background-color: transparent;
  border: none;
}

.mySwiper2 {
  width: 70%;
  max-height: 125px;
  margin: auto;
}

.slide-images img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

@keyframes dropdown {
  0% {
    max-height: 0;
    opacity: 0;
  }

  100% {
    max-height: 450px;
    opacity: 1;
  }
}

@keyframes profile-nav {
  0% {
    max-width: 0;
    opacity: 0;
  }

  100% {
    max-width: 100%;
    opacity: 1;
  }
}

.upload-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  /* Transparent dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Ensure it appears above all other content */
}

.upload-dialog-content {
  background-color: rgba(242, 240, 240, 0.986);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  min-height: 250px;
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  h2 {
    padding: 2rem 0;
  }
}

.file-input {
  text-align: center;
  width: 100%;
  padding: 0.5rem;
}

.profileImage-upload-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  align-items: baseline;
}

.uploadimage-button {
  margin: 0.5rem;
  padding: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  background-color: #830707;
  color: white;
}

.uploadimage-button:hover {
  background-color: #8d2c2c;
}

.uploadimage-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@media (max-width: 1280px) {
  .logo-container {
    display: none;
  }

  .navbar-container {
    padding: 3rem 5rem;
  }

  .nav-icon,
  .nav-header-dropdown {
    display: block;
  }

  .nav-header-dropdown {
    padding-bottom: 1em;
    font-size: 3.5rem;
  }

  .nav-header-dropdown h2 {
    color: black;
    font-family: var(--font-title);
    font-size: 5rem;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    position: absolute;
    top: 120px;
    left: 0;
    width: 100vw;
    max-height: 450px;
    background-color: #d4c6bd;
    padding: 4rem 0;
    z-index: 999;
    box-shadow: 0px 8px 27px -9px #00000091;
    animation: dropdown 0.3s ease forwards;
  }

  .nav-links.open-nav {
    display: flex;
  }

  .open-profile-dropdown {
    top: 115px;
    overflow-y: auto;
  }
}
