@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gafata&family=Varta:wght@300..700&display=swap');

.navbar-container {
    background-color: #d4c6bd;
    display         : flex;

    nav {

        h1 {
            font-family: "Abril Fatface", serif;
            font-size  : 36px;
            font-weight: 100;
        }

        ul {
            list-style: none;
            display   : flex;
        }
    }
}