@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gafata&family=Varta:wght@300..700&display=swap");

.artistListCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(237, 12, 12, 0.2);
  transition: all 0.3s ease;
}

.artist-hero-image {
  background-image: url("../../assets/hero2.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  border-radius: 10px;
  position: relative;
  color: white;
  text-align: center;

  h1 {
    font-family: "Abril Fatface", serif;
    font-size: 5em;
  }
  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
  }
}

.artist-list {
  background-color: #f1eae3;
}

.search-bar-heading {
  font-family: "Abril Fatface", serif;
  font-size: 4em;
}

.search-bar input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
  background: rgba(244, 234, 234, 0.498);
  border: none;
 
  ::placeholder{
    color: white;
  }
}

.search-bar {
  text-align: center;
}


