@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gafata&family=Varta:wght@300..700&display=swap");

.contact-body {
  --text-color-heading   : #830707;
  --form-text-color      : #45342d;
  --main-background-color: #f08f7f;
  --form-background-color: #f2e2d7;
}

.contact-body {
  /* display            : flex; */
  /* flex-direction     : column; */
  /* justify-content : space-around; */
  /* align-items     : center; */
  height             : 100vh;
  /* Full viewport height */
  /* width           : 100vw; */
  background-color   : var(--main-background-color);
  padding            : 4rem;

  h1 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style : normal;
    color      : var(--text-color-heading);
    font-size  : 66px;
    text-align : center;
  }

  p {
    text-align: center;
    color     : var(--text-color-heading);
    font-size : 16px;
    font-family: "Lato",
      serif;
    position: relative;
    top     : 15px;
  }
}



form {
  display           : flex;
/*   height         : 40vh;  */
  flex-direction    : column;
  justify-content   : space-around;
  position          : relative;
  margin-top        : 220px;
}

input {
  /* width              : 50vh; */
  width                 : 350px;
  /* height             : 4vh; */
  height                : 25px;
  margin                : 10px auto;
  background-color      : var(--form-background-color);
  border                : none;
  border-bottom-style   : solid;
  border-bottom-color   : var(--form-text-color);
}

textarea {
  margin             : 0 auto;
  height             : 200px;
  width              : 350px;
  background-color   : var(--form-background-color);
  border             : none;
  padding-top        : 5px;
  border-bottom-style: solid;
  border-bottom-color: var(--form-text-color);
}

input::placeholder,
textarea::placeholder {
  font-size   : 13px;
  padding-left: 10px;
  font-family : "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style  : italic;
  color       : var(--form-text-color);
}

form button {
  color           : var(--form-background-color);
  background-color: var(--text-color-heading);
  border          : none;
  border-radius   : 30px;
  height          : 3rem;
  width           : 8rem;
  font-family     : Verdana, Tahoma, sans-serif;
  font-size       : 1.3rem;
  position        : absolute;
  /* Positions button 10px from the right of the container */
  top             : 320px;
  bottom          : 0%;
  left            : 50%;
  transform       : translateX(-50%);
}

.vertical-line {
  border-left: 1.5px solid var(--form-background-color);
  height     : 200px;
  position   : absolute;
  left       : 50%;
  transform  : translateX(-50%);

}