:root {
    --main-bg-color     : #d9c6bc;
    --primary-text-color: #4d4d4d;
    --accent-color      : #830707;
    --button-text-color : #fff;
    --font-title        : "Abril Fatface", serif;
    --font-body         : "PT Serif", serif;
}

.hero-container {
    display         : flex;
    align-items     : center;
    background-color: var(--main-bg-color);
    padding         : 2rem 5%;
    height          : 100vh;

    .text-container {



        h1 {
            font-family: var(--font-title);
            font-size  : clamp(15rem, 13vw, 20rem);
            color      : #fff;
            font-weight: 200;
            text-shadow: 4px 4px 6px rgba(66, 68, 90, 0.253);
        }

        p {
            font-family: var(--font-body);
            font-size  : 2.7rem;
            color      : var(--primary-text-color);

        }

        button {
            color           : #f2e2d7;
            background-color: #830707;
            border          : none;
            border-radius   : 30px;
            height          : 4rem;
            width           : 20rem;
            padding-bottom  : 0.2rem;
            margin-top      : 5rem;
            margin-left     : 30rem;
            font-family     : Verdana,
                Geneva,
                Tahoma,
                sans-serif;
            font-size: 1.8rem;
            transform: scale(1);
            cursor   : pointer;

            &:hover {
                background-color: #b31b1b;
            }
        }
    }

    .image-container {

        img {
            width        : 65%;
            border-radius: 5px;
            box-shadow   : 0 4px 10px rgba(0, 0, 0, 0.2);
        }
    }
}

@media (min-width: 769px) and (max-width: 1280px) {
    .hero-container {
        flex-direction: column;
    }
}