@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400&display=swap');



:root {
  --text-color-header: #fca93d;
  --text-color-p     : #fefefe;
  --background-color : #0d0e4b;
  --line-color       : #f2e2d7;
}

.lato-light {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style : normal;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style : normal;
}

.journey-container {
  display         : flex;
  align-items     : center;
  justify-content : center;
  background-color: var(--background-color);
  color           : var(--text-color-p);
  padding         : 5rem;
  position        : relative;
  height          : 80vh
}

.image-container {
  flex           : 1;
  display        : flex;
  justify-content: center;
}

.image-container img {
  max-width: 80%;
  height   : auto;
}

.content {
  flex           : 2;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : flex-start;
  padding-left   : 40rem;

  p {
    color: var(--text-color-p);
    font-family: "Lato",
      serif;
    margin-left: 25px;
    text-align : left;
    font-size  : 1.8rem;
  }
}

.content>div {
  margin-bottom: 3.5rem;
  text-align   : left;
}

.content h2 {
  color      : var(--text-color-header);
  margin     : 0 0 0.5rem 0;
  font-family: "Abril Fatface", serif;
  font-size  : 2.5rem;
  font-weight: 100;
}

/* .line {
  width           : 100%;
  height          : 1px;
  background-color: var(--line-color);
  position        : absolute;
} */