@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root {
  --text-color-header: #fca93d;       
  --text-color-p: #fefefe;             
  --background-color: #0d0e4b;        
  --line-color: #f2e2d7;              
}
.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal; 
}


h2 {
  font-family: "Abril Fatface", serif;
}
.journey-container {
  display: flex;
  align-items: center; 
  background-color: var(--background-color); 
  color: var(--text-color-p);
  padding: 5rem;
}

.image-container{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-container img {
  max-width: 100%;
  height: auto;
}
.content{
  flex:2;
  display: flex;
  flex-wrap: wrap;             
  gap: 1.5rem; 
}
.content > div {               
  flex: 1 1 60%;               
  box-sizing: border-box;
}
.content h2{
  color: var(--text-color-header);
  margin-bottom: 0.5rem;
}
.content p {
  color: var(--text-color-p);
  margin-bottom: 1.5rem;
}

