.artist-profile-main-info-container {
    padding       : 7rem 5rem 5rem 5rem;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    width         : 100%;
    position      : relative;

    div {
        width         : 100%;
        display       : flex;
        flex-direction: column;
        align-items   : center;

        h2 {
            font-family: "Lora", serif;
            font-weight: 900;
            font-size  : 2.9rem;
        }

        p {
            font-family: "Antic", sans-serif;
            font-size  : 2rem;
            font-weight: bold;
            color      : #a24435;

        }

        /* EDIT PROFILE FORM STYLING */
        .overlay {
            display         : flex;
            justify-content : center !important;
            align-items     : center !important;
            position        : fixed;
            top             : 0;
            left            : 0;
            width           : 100%;
            height          : 100%;
            background-color: rgba(0, 0, 0, 0.603);
            z-index         : 1000;

            .edit-artist-profile-form-container {
                display         : flex;
                justify-content : center;
                align-items     : center;
                max-width       : 60rem;
                border-radius   : 10px;
                padding         : 3rem;
                background-color: #e1d6cc;
                box-shadow      : -2px -2px 15px rgba(0, 0, 0, 0.425);
                margin-bottom   : 15rem;


                form {
                    width         : 100%;
                    display       : flex;
                    flex-direction: column;
                    align-items   : start;
                    font-family   : "Antic",
                        sans-serif;
                    font-size: 1.8rem;

                    div {
                        padding: 0;
                    }

                    .paired-inputs {
                        display       : flex;
                        flex-direction: row;

                        >:nth-child(1) {
                            padding-right: 3rem;
                        }
                    }

                    label {
                        /* font-size    : 1.6rem; */
                        margin-top   : 3rem;
                        margin-bottom: 0.5rem;
                        margin-left  : 0.3rem;
                    }

                    input {
                        display        : block;
                        width          : 100%;
                        height         : 3.5rem;
                        border         : none;
                        padding-left   : 1rem;
                        /* font-size   : 1.6rem; */

                        &&::placeholder {
                            font-size: 1.6rem;
                        }
                    }

                    textarea {
                        width    : 100%;
                        font-size: 1.6rem;
                        border   : none;

                        &&::placeholder {
                            font-size   : 1.6rem;
                            padding-left: 1rem;
                        }
                    }

                    .button-container {
                        display        : flex;
                        justify-content: center;

                        button {
                            border        : none;
                            border-radius : 30px;
                            height        : 4rem;
                            width         : 14rem;
                            margin-top    : 2rem;
                            padding-bottom: 0.2rem;
                            padding-top   : 2px;
                            cursor        : pointer;
                            font-family   : Verdana,
                                Geneva,
                                Tahoma,
                                sans-serif;
                            color         : whitesmoke;
                            font-size     : 1.5rem;
                            text-transform: uppercase;
                        }

                        >:nth-child(1) {
                            background-color: #830707;

                        }

                        >:nth-child(2) {
                            background-color: grey;
                        }
                    }
                }
            }
        }
    }

    .star-button-phone {
        background-color: transparent;
        border          : none;
        position        : absolute;
        top             : 5%;
        right           : -1.2rem;
        transform       : scale(3);
        cursor          : pointer;
    }

    .button-container {
        .chat-button {
            background-color: #830707;
            border          : none;
            border-radius   : 30px;
            height          : 4rem;
            width           : 14rem;
            margin-top      : 2rem;
            padding-bottom  : 0.2rem;
            padding-top     : 2px;
            cursor          : pointer;
            font-family     : Verdana, Geneva, Tahoma, sans-serif;
            color           : whitesmoke;
            font-size       : 1.5rem;
            text-transform  : uppercase;
            flex            : 0 0 auto;
        }

        .star-button-desktop {
            display: none;
        }

        .edit-button-desktop {
            margin-top      : 1.8rem;
            width           : 4rem;
            height          : 4rem;
            display         : block;
            border          : none;
            background-color: transparent;
            color           : black;
        }
    }

    img {
        width        : 23rem;
        border       : 0.7rem solid white;
        border-radius: 50%;
    }
}

.edit-artist-profile-form {
    /* to be added */
}

@media (min-width: 768px) {
    .artist-profile-main-info-container {

        .chat-button {
            margin-top: 16rem;

        }

        .button-container {
            display        : flex;
            flex-direction : row;
            justify-content: end;
            gap            : 1rem;

            .star-button-desktop {
                margin-top      : 1.8rem;
                width           : 4rem;
                height          : 4rem;
                display         : block;
                border          : none;
                background-color: transparent;
                color           : black;
            }
        }

        .star-button-phone {
            display: none;
        }


    }
}