.overlay {
  position        : fixed;
  top             : 0;
  left            : 0;
  width           : 100%;
  height          : 100%;
  background-color: rgba(0, 0, 0, 0.603);
  display         : flex;
  justify-content : center;
  align-items     : center;
  z-index         : 1000;
}

/* General Review Form Styling */
.review-container .review-form {
  /* max-width       : 600px; */
  width           : 50rem;
  margin          : 5rem auto;
  padding         : 20px;
  border          : 1px solid #ddd;
  border-radius   : 10px;
  background-color: #e1d6cc;
  box-shadow      : -2px -2px 15px grey;
  position        : relative;
}

.review-cancel {
  position        : absolute;
  right           : 7px;
  top             : 7px;
  background-color: rgba(3, 2, 2, 0.668);
  border-radius   : 50%;
  padding         : 6px;
  color           : white;
  cursor          : pointer;
}

.review-form h2 {
  font-size    : 2.6rem;
  margin-bottom: 5rem;
  color        : #333;
  text-align   : center;
  font-family  : "Lora",
    serif;
}

/* Success and Error Messages */
.success-message {
  color      : green;
  font-weight: bold;
  text-align : center;
}

.error-message {
  color     : red;
  font-size : 14px;
  margin-top: 10px;
  text-align: center;
}

/* Rating Section */
.rating-section {
  margin-bottom: 20px;
}

.rating-section label {
  display      : block;
  font-size    : 18px;
  margin-bottom: 10px;
  color        : #555;
}

.stars {
  display        : flex;
  justify-content: start;
  padding-left   : 2rem;
  gap            : 2px;
}

.star {
  cursor    : pointer;
  color     : gray;
  transition: color 0.3s ease;
}

.star.selected {
  color: gold;
}

/* Comment Section */
.comment-section {
  margin-bottom: 20px;
}

.comment-section label {
  display      : block;
  font-size    : 18px;
  margin-bottom: 10px;
  color        : #555;
}

.comment-input {
  width        : 100%;
  height       : 100px;
  padding      : 10px;
  font-size    : 16px;
  border       : 1px solid #ccc;
  border-radius: 5px;
  resize       : none;
  transition   : border-color 0.3s;
}

/* Container for Review */
.review-container {
  display        : flex;
  justify-content: center;
  align-items    : center;
  position       : relative;
}

/* Button to Open the Form */
.review-button,
.load-more {
  margin-bottom   : 5rem;
  padding         : 0.8rem 1.5rem 0.8rem 1.5rem;
  font-size       : 14px;
  color           : #f2e2d7;
  background-color: #830707;
  border          : none;
  border-radius   : 30px;
  cursor          : pointer;
  font-family     : Verdana, Geneva, Tahoma, sans-serif;
  transition      : background-color 0.3s ease;
}

.review-button {
  position: absolute;
  right   : 0;
}

.load-more {
  margin-top : 2.5rem;
  margin-left: 1.5rem;
}

.review-button:hover {
  background-color: #b31b1b;
}

.review-customer-name {
  font-size: 1.7rem;
}

.review-created-at {
  font-size: 1.5rem;
}

.submit-review-button-container {
  display        : flex;
  justify-content: center;

  .submit-button {
    color           : #f2e2d7;
    background-color: #830707;
    border          : none;
    border-radius   : 30px;
    height          : 3.5rem;
    width           : 14rem;
    padding         : 0.8rem 1.5rem 0.8rem 1.5rem;
    cursor          : pointer;
    color           : #f2e2d7;
    font-family     : Verdana, Geneva, Tahoma, sans-serif;
    text-decoration : none;
    font-size       : 1.4rem;
    margin-top      : 1rem;

    &:hover {
      background-color: #b31b1b;
    }
  }
}

.review-box {
  display       : flex;
  flex-direction: column;
  width         : 100%;
  padding-top   : 5rem;
  margin-top    : 18rem;
}

.review-item {
  width  : 80%;
  display: flex;
  margin : 2rem;
}

.customer-profileImage {
  width        : 35px;
  border-radius: 50%;
}

.prof-info {
  display    : flex;
  align-items: flex-start;
  gap        : 1.2rem;
}

.rating {
  display    : flex;
  align-items: center;
  gap        : 2rem;
}

.rev-comment {
  font-size: 1.6rem;
  margin   : 1.5rem 0;
}

.rev-line {
  color       : grey;
  margin-right: 1.3rem;
}

.no-rev {
  padding  : 4rem 0;
  font-size: 1.6rem;
}

/* Optional Fade-In Animation */
@keyframes fadeIn {
  from {
    opacity  : 0;
    transform: translateY(-10px);
  }

  to {
    opacity  : 1;
    transform: translateY(0);
  }
}