.customer-main-profile {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2e2d7;
}

.customer-container {
  width: 70%;
  display: flex;
  box-shadow: -1px 1px 5px grey;
  height: 500px;
  align-items: center;
  gap: 5rem;
  padding-left: 10%;
  background-color: #f2e2d7;
}

.customer-profile-image {
  width: 30%;
}

.customer-profile-image img {
  width: 250px;
}

.customer-info {
  width: 50%;
  height: 100%;
}

.customer-info h1 {
  font-family: "Lora", serif;
  font-weight: 800;
  font-size: 5rem;
  white-space: nowrap;
  text-align: center;
  padding-top: 12rem;
}

.customer-info span {
  font-weight: 300;
  font-size: 1.9rem;
  margin-left: 2rem;
}

.customer-route-to-artist div {
  text-align: center;
  font-size: 2rem;
  margin-top: 10rem;
  font-family: "Antic", sans-serif;
}
