@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Abril+Fatface&display=swap");

.reset-password-body {
  background-color: #d9c6bc;
  height: 100vh;
  display: flex;
}

.reset-password-page {
  max-width: 500px;
  margin:  auto;
  padding: 30px;
  background-color: #b8aaa0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.reset-password-page h2 {
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  font-size: 26px;
  margin-bottom: 20px;
}

.reset-password-page input {
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 15px;
}

.reset-password-page button {
  color: #f2e2d7;
  background-color: #830707;
  border: none;
  border-radius: 30px;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  transition: background-color 0.3s;
}

.reset-password-page button:hover {
  background-color: #c62a2a;
}

.reset-password-page .success-message {
  color: rgb(2, 75, 2);
  font-weight: bolder;
  font-size: 18px;
  margin-top: 20px;
}

.reset-password-page .error-message {
  color: rgb(173, 5, 5);
  font-weight: bolder;
  font-size: 18px;
  margin-top: 20px;
}
