@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Abril+Fatface&display=swap");


:root {
    --form-color: #fca93d;
    --text-color    : #fefefe;
    --main-background-color : #0d0e4b;
  }

body{
  background-color: var(--main-background-color);
}

#registraion-div h1 {
  font-family: "Abril Fatface", serif;
  color: var(--form-color);
  font-size: 5rem;
  margin-bottom: 9rem;
  margin-top: 8rem;
  text-align: center;
}

#registration-form {
  width: 100%;
  max-width: 450px;
  margin: auto;
  background: #E1D6CC;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Lato', sans-serif;
  position: relative;

  h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
  }

  #intro-para {
    font-size: 1.7rem;
    color: #606770;
    text-align: center;
    margin-bottom: 3rem;
  }

  div > #role-selection {
    display: inline-flex;
    align-items: center;
    margin: 0 auto; /* Ensures horizontal centering */
  }

  div {
    display: flex;
    margin-bottom: 1rem;
  }

  input[type="radio"] {
    margin-right: 6%;
    width: 25%;
  }

  /* Input fields */
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #dddfe2;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
  }

  input:focus {
    border-color: #1877f2;
    outline: none;
    background-color: #ffffff;
  }

  label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #606770;
    font-size: 14px;
  }

  input[type="file"] {
    height: 4rem;
  }

  .default-button,
  .artist-button {
    width: 30%;
    font-size: 1.3rem;
    height: 2.5rem;
    color: #ffffff;
    background-color: #1877f2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 70px;
  }

  button:hover {
    background-color: #155db3;
  }

  button:disabled {
    background-color: #b0d4f1;
    cursor: not-allowed;
  }
  .artist-button {
    position: absolute;
    top: 37.5rem;
  }

  #artist-para {
    margin-top: 2.5rem;
    text-align: center;
    font-size: 14px;
    color: #606770;
  }

  #default-para {
    margin-top: 5rem;
    text-align: center;
    font-size: 14px;
    color: #606770;
  }
}

#response-para {
  text-align: center;
  margin-top: 1rem;
}
