.blog-page-container {
  background: #d7b49f;
  min-height: 100vh;
  padding: 2em 0;
}

.blog-header {
  text-align: center;
  margin-bottom: 40px;
}

.blog-header h1 {
  padding: 20px;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-size: 4em;
  color: #0b0d63;
  margin-bottom: 0.5em;
  position: relative;

  &::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 3px;
    background-color: #830707;
    transition: width 0.3s ease;
  }
  &:hover::after{
    width: 70%;
  }
}

.blog-header p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 2em;
  color: #0b0d63;
  margin-top: 0;
}

.blog-cards-container {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.blog-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;

  &:hover{
    transform: translateY(-10px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  }
}


.blog-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.blog-content {
  padding: 1em;
  display: flex;
  flex-direction: column;
  position: relative; 
  flex-grow: 1;
  background-color: #e1d6cc;
}

.blog-content h2 {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-size: 2em;
  margin: 0.5em 0;
  color: black;
}

.blog-content p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: black;
  margin: 0.5em 0 1em;
}


.blog-nav {
  position: absolute;
  bottom: 10px; 
  right: 10px; 
  display: inline-block;
  text-align: center;
  color: #f2e2d7;
  background-color: #830707;
  outline: none;
  border: none;
  border-radius: 30px;
  height: 3.5rem;
  width: 14rem;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  font-size: 1.4rem;
}

.blog-nav:hover {
  background-color: #a01a1a;
}


/* Responsive Design */
@media (max-width: 768px) {
  .blog-cards-container {
    flex-direction: column;
    align-items: center;
  }

  .blog-card {
    width: 90%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .blog-cards-container {
    gap: 15px;
  }

  .blog-card {
    width: 45%;
  }
}
